# Dependencies
node_modules

# Build
dist
dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*

# Local env files
.env.local
.env.*.local
*.local

